header {

    background: #8FCC72;

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    z-index: 999px;

    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: #ffffff;
}



.img-container {
    margin-left: 5px;
    margin-top: 10px;

}
.title-2{
 text-align: center;
  
}
